p {
    color: grey;
    font-size: 20px;
    margin: 0px;
  }
  
  hr {
    margin: 15px 0;
  }
  
  .sign-in-container {
    width: 450px;
    margin: 0 auto;
    padding: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error {
    color: red;
    font-size: 15px;
    margin-top: 5px;
  }
  
  .forgot-password {
    text-align: right;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
  }
  
  .btn {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-left: 350px;
  }
  
    .btn:hover {
      background-color: #c9302c;
    }
  
  .input-with-icon {
    position: relative;
    display: inline-block;
  }
  
    .input-with-icon i {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: #999;
    }
  
  .form-control {
    padding: 10px;
    font-size: 15px;
    width: 430px;
    border: 1px solid #ddd;
    font: bold;
  }
  