.sign-in-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.error {
  color: red;
  font-size: 15px;
  margin-top: 5px;
}

.forgot-password {
  text-align: right;
  font-size: 15px;
  margin-top: 10px;
  text-decoration: none;
}

.btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  cursor: pointer;
  left: 0;
}

  .btn:hover {
    background-color: #c9302c;
  }

.input-with-icon {
  position: relative;
  display: inline-block;

}

  .input-with-icon i {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    color: #999; 
  }
.form-control {
  padding: 10px;
  font-size: 15px;
  width: 380px;
  border: 1px solid #ddd;
}
.form-control p {
  color: grey;
  font-size: 20px;
  text-align: center;
}